<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 not found</title>
<style>
    .center {
        display: block;
        margin-left: 600px;
        margin-right: auto;
    }

</style>

</head>

<body>

<H1 style=" color: #606266" class="center">页面飞走了。。。</H1>

<img src="../images/pikachuFlewAway.jpg" alt="loading pic" width="500" height="700" class="center">
<div class="center"> <a href="../index.html" style="color: #ff8c31; font-size: xx-large" > 返回首页 </a> </div>

</body>
